body {
  background-color: #2af3f3;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

/*===================================================
                   TEXTO                             
=====================================================*/
h1 {
  color: black;
  font-size: 40px;
}

h2 {
  color: #0f5bd3;
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

p {
  line-height: 1.6; /* SEPARACION INTERLINEADO */
}

/*===================================================
                 SECCIONES
=====================================================*/

.seccion { /* CLASE*/
  background-color: #b56fe1;
}

#Perfil { /* ID */
  background-color: hsl(218, 35%, 67%);
}

/*===================================================
                 ENCABEZADO
=====================================================*/
header {
  background-color: hwb(0 65% 18%);
  color: white;
  text-align: center;
}

header h1 {
  color: white;
}

header h2 {
  color: #1944b2;
}

